@model HealthDataRepository.Models.Activity

@{
    ViewData["Title"] = "Delete Activity";
}

<div class="row">
    <div class="col-md-4 col-sm-12">

        <div class="card">
            <div class="card-header bg-danger text-white">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StartTimestamp)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartTimestamp)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndTimestamp)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndTimestamp)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Source)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Source)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ActivityType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ActivityType.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CaloriesBurnt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CaloriesBurnt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AverageHeartRate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AverageHeartRate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StepsTaken)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StepsTaken)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MetresTravelled)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MetresTravelled)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MetresElevationGained)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MetresElevationGained)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>